extends _layout.pug

block locals
  - var title = 'access';
  - var keywords = 'accesspage, inu'


block content
  p(class="tac") this is access
  p npx webpack --mode development

  select(name="selectNation" id="selectNation")
    option(value="ja") 日本
    option(value="ro") ロシア
  button(id="search" type="button") press button
  div(id="result")
