extends _layout.pug

block locals
  - var title = 'toppage';
  - var keywords = 'portfolio, toppage'

block content
  div(id="app")

  div#vue-root

  .swiper-container
    .swiper-wrapper
      .swiper-slide slide1
      .swiper-slide slide2
      .swiper-slide slide3


  .image
    img.image__icon(src="../img/icon.png" alt="")

  select(name="selectNation" id="selectNation")
    option(value="ja") 日本
    option(value="ro") ロシア
  button(id="search" type="button") press button
  div(id="result")

  ul
    -
      var list = {
        top : '/index.html',
        access : '/access.html'
      }

    each val, key in list
      li
        a(href=val) #{key}

  ul
    - for(var i = 0; i < 12; i++){
      if(i == 11)
        li end#{i}
      else
        li item #{i}
    -}


